<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Toggle Tabs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,700" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="tab-slider--nav">
      <ul class="tab-slider--tabs">
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="clickTab('tab1')">Institutional</li>
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="clickTab('tab2')">Professional</li>
        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="clickTab('tab3')">Modified Claims</li>
      </ul>
    </div>
    <div class="tab-slider--container" [ngSwitch]="viewMode">
      <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
			<div>
			<h2>Search Claims</h2>
			<form [formGroup]="instSearchForm" (ngSubmit)="onSubmit('Institutional', instSearchForm.value)">
				<div class="form-row">
					<div class="col-lg-2" formArrayName="instSelectItems" *ngFor="let select-item of getControls(instSearchForm, 'instSelectItems'); let j = index;">
					   <div [formGroupName]="j" class="input-group">
						   <select class="form-control select-form-fixer" formControlName="category">
							   <option [ngValue]="option" *ngFor="let option of options">{{option.name}}</option>
							 </select>
							 <span class="input-group-addon">
								<button *ngIf="j > 0" type="button" class="btn btn-danger btn-sm close-button-fixer" (click)="removeObject(j, 'Institutional')" ><span aria-hidden="true">&times;</span></button>
							 </span>	
					   </div>
					</div>
				</div>
				<div *ngIf="selectedInstOption > 0" class="form-row">
					<div class="col-lg-2" formArrayName="instInputItems" *ngFor="let item of getControls(instSearchForm, 'instInputItems'); let i = index;">
					   <div [formGroupName]="i">
						 		<input type="text" minlength="1" class="form-control" [formControlName]="'inputName' + i">
						 </div>
					</div>
				</div>
				<div class="form-row" *ngIf="selectedInstOption > 0 && showInstButton">
					<button type="button" class="btn btn-default" (click)="addSelectItems(instSearchForm, 'Institutional', options[0])">Add Search Criteria</button>
				</div>
				<div class="form-row py-4" *ngIf="selectedInstOption > 0 && showInstButton">
							<label class="col-form-label input-threshold-label" for="claimsThreshold">Claims Threshold:</label>
							<input type="number" class="form-control input-threshold" formControlName="claimsThreshold">
				</div>
				<div class="form-row alert alert-danger"  *ngIf="submittedInstForm && instSearchForm.status === 'INVALID'">
						You cannot leave search fields empty.
					</div>
				<div class="form-row d-flex justify-content-end" *ngIf="selectedInstOption > 0">
						<div class="col-lg-2" formArrayName="hiddenInputItems" *ngFor="let item of getControls(instSearchForm, 'hiddenInputItems'); let k = index;">
								<div [formGroupName]="k">
								<input type="hidden" class="form-control" [formControlName]="'inputName' + k">
								</div>
						</div>
						<div class="btn-group">
							  <button type="submit" class="btn btn-primary">Search</button>
								<button type="button" class="btn btn-light" (click)="clearForm('Institutional')">Reset</button>
						</div>
				</div>
				<hr/>
			</form>
		</div>
		<div class="search-results-header">
			<h5>Search Results</h5>
		</div>
		<table id="instTable" class="table table-striped row-border hover">
		  <thead>
		  <tr>
			<th></th>
			<th>Subscriber ID</th>
			<th>Claim Type</th>
			<th>SCCF Number</th>
			<th>Procedure Code</th>
			<th>Diagnosis Code</th>
			<th>Modifier</th>
			<th>Patient Account Number</th>
			<th>From Date (DOS)</th>
			<th>To Date (DOS)</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr *ngFor="let claims of activeInstitutionalClaims">
			<td><input type="checkbox" name="{{claims.id}}" id="{{claims.id}}" (change)="toggleActiveInstitutionalClaims(claims.id, $event.target.checked)"></td>
			<td>{{claims.subscriberId}}</td>
			<td>{{claims.claimtype}}</td>
			<td>{{claims.sccfNumber}}</td>
			<td>{{claims.procedureCode}}</td>
			<td>{{claims.diagnosisCode}}</td>
			<td>{{claims.modifier}}</td>
			<td>{{claims.patientAccountNumber}}</td>
			<td>{{claims.fromDate}}</td>
			<td>{{claims.toDate}}</td>
		  </tr>
		  </tbody>
		</table>
		<button (click)="openEditModal('Institutional', claims)" class="btn btn-primary">Edit Selection(s)</button>
      </div>
      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
					<h2>Search Claims</h2>
					<form [formGroup]="profSearchForm" novalidate (ngSubmit)="onSubmit('Professional', profSearchForm.value)">
						<div class="form-row">
							<div class="col-lg-2" formArrayName="profSelectItems" *ngFor="let select-item of getControls(profSearchForm, 'profSelectItems'); let l = index;">
								 <div [formGroupName]="l" class="input-group">
									 <select class="form-control select-form-fixer" formControlName="category">
										 <option [ngValue]="option" *ngFor="let option of options">{{option.name}}</option>
									 </select>
									 <span class="input-group-addon">
										<button *ngIf="l > 0" type="button" class="btn btn-danger btn-sm close-button-fixer" (click)="removeObject(l, 'Professional')" ><span aria-hidden="true">&times;</span></button>
									 </span>	
								 </div>
							</div>
						</div>
						<div *ngIf="selectedProfOption > 0" class="form-row">
							<div class="col-lg-2" formArrayName="profInputItems" *ngFor="let item of getControls(profSearchForm, 'profInputItems'); let m = index;">
								 <div [formGroupName]="m">
								 <input type="text" class="form-control" [formControlName]="'inputName' + m">
								 </div>
							</div>
						</div>
						<div class="form-row" *ngIf="selectedProfOption > 0 && showProfButton">
							<button type="button" class="btn btn-default" (click)="addSelectItems(profSearchForm, 'Professional', options[0])">Add Search Criteria</button>
						</div>
						<div class="form-row py-4" *ngIf="selectedProfOption > 0 && showProfButton">
							<label class="col-form-label input-threshold-label" for="claimsThreshold">Claims Threshold:</label>
							<input type="number" class="form-control input-threshold" formControlName="claimsThreshold">
					  </div>
						<div class="form-row d-flex justify-content-end" *ngIf="selectedProfOption > 0">
								<div class="col-lg-2" formArrayName="hiddenInputItems" *ngFor="let item of getControls(profSearchForm, 'hiddenInputItems'); let n = index;">
										<div [formGroupName]="n">
										<input type="hidden" class="form-control" [formControlName]="'inputName' + n">
										</div>
								 </div>
								 <div class="btn-group">
									<button type="submit" class="btn btn-primary">Search</button>
									<button type="button" class="btn btn-light" (click)="clearForm('Professional')">Reset</button>
							</div>
							</div>
							<hr/>
					</form>		
		<div class="search-results-header">
				<h5>Search Results</h5>
		</div>
		<table id="profTable" class="table table-striped row-border hover">
		  <thead>
		  <tr>
			<th></th>
			<th>Subscriber ID</th>
			<th>Claim Type</th>
			<th>SCCF Number</th>
			<th>Procedure Code</th>
			<th>Diagnosis Code</th>
			<th>Modifier</th>
			<th>Patient Account Number</th>
			<th>From Date (DOS)</th>
			<th>To Date (DOS)</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr *ngFor="let claims of activeProfessionalClaims">
			<td><input type="checkbox" name="{{claims.id}}" id="{{claims.id}}" (change)="toggleActiveProfessionalClaims(claims.id, $event.target.checked)"></td>
			<td>{{claims.subscriberId}}</td>
			<td>{{claims.claimtype}}</td>
			<td>{{claims.sccfNumber}}</td>
			<td>{{claims.procedureCode}}</td>
			<td>{{claims.diagnosisCode}}</td>
			<td>{{claims.modifier}}</td>
			<td>{{claims.patientAccountNumber}}</td>
			<td>{{claims.fromDate}}</td>
			<td>{{claims.toDate}}</td>
		  </tr>
		  </tbody>
		</table>
		<button (click)="openEditModal('Professional')" class="btn btn-primary">Edit Selection(s)</button>
      </div>
	  <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
		<h2>Modified Claims</h2>
		<table id="modTable" class="table table-striped row-border hover">
		  <thead>
		  <tr>
			<th>Subscriber ID</th>
			<th>Original Claim ID</th>
			<th>SCCF Number</th>
			<th>Procedure Code</th>
			<th>Diagnosis Code</th>
			<th>Modifier</th>
			<th>Patient Account Number</th>
			<th>Create Date</th>
			<th>Created By</th>
			<th></th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr *ngFor="let claims of modifiedClaims">
			<td>{{claims.subscriberId}}</td>
			<td>{{claims.originalClaimID}}</td>
			<td>{{claims.sccfNumber}}</td>
			<td>{{claims.procedureCode}}</td>
			<td>{{claims.diagnosisCode}}</td>
			<td>{{claims.modifier}}</td>
			<td>{{claims.patientAccountNumber}}</td>
			<td>{{claims.createDate}}</td>
			<td>{{claims.createdBy}}</td>
			<td>
			  <button class="btn btn-danger" (click)="deleteClaims(claims)">
				<i class="fa fa-trash"></i>
			  </button>
			</td>
		  </tr>
		  </tbody>
		</table>
      </div>
    </div>
  </div>
</body>
</html>