button {
  width: auto;
  margin: 5px;
}

td {
  vertical-align: unset;
}

.search-div {
	position: relative;
}

.search-button {
	float: right;
}

.select-div {
	vertical-align: middle;
}

.search-results-header {
	padding-top: 20px;
}

.select-form-fixer {
	padding: 0px;
}

.close-button-fixer {
	margin-left: .05em;
	margin-top: 0em;
}